@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tiny URL Clone<br />
    Someplace, USA<br />
    <abbr title="Phone">P:</abbr>
    732 555 1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chrisdepalma@yahoo.com">chrisdepalma@yahoo.com</a><br />
   
</address>